<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel optio, rerum voluptates non quas nihil amet numquam! Labore iure delectus, mollitia repudiandae perspiciatis rem adipisci ea iste sint reprehenderit cum?</p>
<%- include("footer") -%>